* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: steelblue;
    border-bottom: 1px solid black;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    padding: 10px;
}

main {
    grid-column: 2/3;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 80px;
    left: 70px;
    color: black;
}

footer {
    border-top: 1px solid black;
    text-align: center;
}

a {
    color: white;
}

/* Class Selectors */
.box {
    margin: 10px;
    border: 1px solid white;
    padding: 25px;
    background-color: royalblue;
    color: white;
}